# ====== compiled object ======
*.so
*.out
*.o
*/*.o
*/*/*.o
main
database_d
database_r
*_test
.DS_Store

# ======== db file ==========
simpleDb

# ======== log file =========
*.log

# ====== ignore itself ======
.gitignore

# ======== data file ========
supplier.tbl
table_list
*.dat
